configuration {
  show-icons:         true;
  /*icon-theme:         "Paper";*/
  theme:"Arc-Dark";
  cycle:              true;
  hide-scrollbar:     true;
  disable-history:    false;
  modi:               "drun";
  display-drun:       "apps";
  columns: 2;
}
